<% line_items.each do |line_item| %>
<tr>
    <td><%= line_item.quantity %>&times;</td>
    <td><%= line_item.product.title %></td>
    <td><%= format_price(line_item.total_price) %></td>
</tr>
<% end %>

